body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
  color: black;
  font-family: sans-serif;
  margin: 0;
}

#word-container {
  font-size: 3em;
}

#word {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

#word:hover {
  color: #0056b3;
}