body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

#word-container {
  font-size: 3em;
}

#word {
  color: cyan;
  text-decoration: none;
  transition: color 0.3s;
}

#word:hover {
  color: magenta;
}